.nav-item{
    text-decoration: none;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;

}
.foot-item{
    text-decoration: none;
    margin: 0;
    color: bisque;
    
    padding-left: 50px;
    padding-right: 50px;

}

/* .card-1{
    background-image: url(img/bg3.jpg);
    background-color: rgb(10, 26, 59);
    background-color: aliceblue;
    margin-top: 30px;
    background-size: contain;
    background-repeat: no-repeat;
 
    

} */

.card-2{
    /* background-image: url(img/bg4.jpg); */
    margin-top: 30px;
    margin-left: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    /* height: 800px;
    width:1200px; */

}

/* .c1{
    background-color: rgb(11, 150,230);
    margin-top: 20px;
}
.c2{
    margin-top: 20px;
    background-color: rgb(10, 26,59);
}
.c3{
    margin-top: 20px;
    background-color: white;
} */
.card-4{
    /* background-image: url(img/bg10.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
    /* height: 800px;
    width:1200px; */

}
.card-3{
    /* background-image: url(img/bg3.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
    /* height: 100%;

    width:100%; */
    /* display :inline-block;
    overflow: hidden; */

}


.item-1{
    margin-left: 20px;
}

.item-2{
    padding: 0%;
}

ul{
    list-style: none;
}
li{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    text-align: left;
    text-decoration: none;
}

.heading{
    text-decoration: none;
    color: black;
    font-weight: 1000;
    font-size: 35px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}